footer
  .container
    h3 Let me know what you think
    form#message-form
      .form-group
        label(for="user") Your Telegram's username
        input#user(type="text", name="user" placeholder="@username")
      .form-group
        label(for="mesage") Your message
        textarea#mesage(type="text", name="mesage" rows="3" placeholder="Type your message...")
      button.button.visible#form-button(type="submit") Send
    .donate
      p Donate
      p
        a.paypal(href="https://www.paypal.me/alexeiaccio/5usd" target="_blank")
      p(style="margin-top: 12px;")
        script(src="https://liberapay.com/alexei.accio/widgets/button.js")
        noscript
          a(href="https://liberapay.com/alexei.accio/donate")
            img(alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg")

      p(style="margin-top: 12px;")
        a(href="https://www.patreon.com/bePatron?u=8394686" data-patreon-widget-type="become-patron-button") Become a Patron!
        script(async src="https://c6.patreon.com/becomePatronButton.bundle.js")