body {
  font-family: 'Lucida', Arial, sans-serif;
  color: #444;
  font-size: 18px;
  padding: 0;
  margin: 0; }

a {
  color: #00B7FF; }

blockquote {
  margin: 21px 0;
  padding: 0 40px;
  border-left: 4px solid #eee; }

code {
  padding: 0 7px;
  background-color: #eee;
  border-radius: 2px; }

.container {
  margin: 21px auto;
  padding: 0;
  width: 100%;
  position: relative; }

@media (min-width: 650px) {
  .container {
    max-width: 600px; } }

.logo {
  margin: 0 0 50px;
  width: 100%;
  padding: 250px 0 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  background-color: #53b1ee;
  background-position: center 50px;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-image: url("../images/logo.png"); }

.md p:last-child {
  margin: 0 0 100px; }

.md li > p {
  margin: 0 !important; }

.md img {
  display: block;
  margin: 0 auto 100px; }

@media (max-width: 650px) {
  img {
    width: 80%;
    height: auto; }
  p, h2, h3, ol {
    padding-left: 25px;
    padding-right: 25px; } }

footer {
  margin-top: 50px;
  padding: 100px 0;
  background-color: #eee; }

form {
  display: flex;
  align-items: start; }

@media (max-width: 650px) {
  form {
    flex-direction: column;
    padding: 0 25px; } }

label {
  display: inline-flex;
  margin-bottom: 12px;
  font-size: 14px;
  color: #666; }

input, textarea {
  width: 100%;
  font-size: 16px;
  color: #666;
  text-decoration: none;
  border: 2px solid #666;
  border-radius: 16px;
  padding: 7px 12px; }

textarea {
  font-family: 'Lucida', Arial, sans-serif; }

.form-group {
  flex: 1 1 100%;
  width: 100%;
  max-width: calc(100% - 25px);
  padding-right: 50px; }

#form-button {
  flex: 0 auto;
  align-self: end;
  margin: 0; }

@media (max-width: 650px) {
  .form-group {
    margin-bottom: 21px; } }

.donate {
  margin-top: 21px; }

.paypal {
  display: block;
  margin-top: 12px;
  background-image: url(https://www.paypalobjects.com/webstatic/paypalme/images/pp_logo_small.png);
  background-size: 100%;
  width: 119px;
  height: 29px; }

.h1::before, .article::before {
  content: '';
  position: absolute;
  top: 0;
  left: -171px;
  width: 120px;
  text-align: right;
  color: #eee;
  padding: 10px 15px;
  border-right: 4px solid #eee; }

.focused.h1::before, .focused.article::before {
  color: #ccc;
  border-right-color: #ccc; }

.h1 {
  font-weight: 300;
  position: relative; }
  .h1::before {
    font-size: 24px;
    line-height: 40px;
    content: 'Title'; }
  .h1 .ql-editor.ql-blank::before {
    font-size: 24px;
    line-height: 60px;
    left: 0; }
  .h1 p {
    white-space: nowrap;
    font-size: 36px; }

.link {
  margin-top: 21px;
  font-size: 14px; }

.article {
  margin: 37px 0;
  font: 18px "Georgia", serif;
  color: #ccc;
  padding: 10px 15px;
  position: relative; }
  .article::before {
    font-size: 16px;
    line-height: 28px;
    content: 'Content'; }

.ql-editor {
  padding: 0;
  overflow: visible;
  color: #333; }
  .ql-editor:before {
    color: #666; }

.sidebar {
  position: absolute;
  top: 130px;
  left: calc(50% + 325px); }

.button {
  display: block;
  margin-bottom: 12px;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #000;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 16px;
  text-transform: uppercase;
  padding: 4px 12px;
  margin: 0 0 15px;
  background-color: #fff;
  cursor: pointer;
  transition: all .4s ease;
  visibility: hidden;
  opacity: 0;
  outline: none !important; }

.visible {
  visibility: visible;
  opacity: 1; }

.saving {
  color: #404040;
  border: 2px solid #404040;
  background-color: #cfcfcf; }

.success {
  color: #2abe3d;
  border: 2px solid #2abe3d; }

.continue {
  color: #ffffff;
  background-color: #5682a3;
  border: 2px solid #5682a3; }

/*# sourceMappingURL=style.css.map */