doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= title
    block head-content
    link(rel='stylesheet', href='/styles/style.css')
  body
    block content
    block footer
    block scripts
    script(id="__bs_script__").
      //<![CDATA[
        document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.23.6'><\/script>".replace("HOST", location.hostname));
      //]]>
